---
import { siteConfig } from '@/config'
import { ClientRouter } from 'astro:transitions'
import ThemeManager from '@/components/ui/ThemeManager.astro'
import TransitionWrapper from '@/components/layout/TransitionWrapper.astro'
import type { LayoutProps } from '@/types'

type Props = LayoutProps

const { type = 'page', fullWidth = false } = Astro.props
const language = siteConfig.site.language || 'en'
const fadeAnimation = siteConfig.general.fadeAnimation
---

<html lang={language}>
  <head>
    <ThemeManager />
    {fadeAnimation && <ClientRouter />}
    <slot name="head" />
  </head>
  <body data-full-width={fullWidth}>
    {
      fadeAnimation ? (
        <TransitionWrapper type={type} class="layout-wrapper">
          <slot />
        </TransitionWrapper>
      ) : (
        <div class="layout-wrapper">
          <slot />
        </div>
      )
    }
  </body>
</html>

<style is:global>
  .layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
